snippet t "init template"
	cmake_minimum_required(VERSION 3.10)

	project(${1})
	set(CMAKE_EXPORT_COMPILE_COMMANDS ON)
	set(CMAKE_CXX_STANDARD 17)

	add_library(${2:library_name} STATIC
		${3:source_file}
	)

	add_executable(main
		main.cc
	)

	target_link_libraries(main
		$1
	)
