snippet lc "leetcode template"
	pub struct Solution {}
	impl Solution {
		pub fn ${1}(${2}) -> ${3} {
			todo!()
		}
	}

	#[cfg(test)]
	mod tests {
		use super::*;
		#[test]
		fn test() {
			assert_eq!(Solution::$1(${4}), ${5});
		}
	}
