global !p
def options(t, opts):
	if t:
		opts = [m[len(t):] for m in opts if m.startswith(t)]
	if len(opts) == 1:
		return opts[0]
	return "|".join(opts)
endglobal

snippet m "commit msg" b
$1`!p snip.rv=options(t[1], [
'1😸 update:'
'2🔧 fix: ',
'3💫 enhancement: ',
'4🔺 change: ',
'5📦 plugin: ',
'6📖 update README',
'7✨ feat: ',
'8♻ refactoring',])`
endsnippet
